<template>
  <div>
    <MainSection />
    <Separator />
    <CollectionSection />
    <Separator />
    <WhyChooseUsSection />
    <Separator />
    <QuestionsSection />
    <Separator />
    <GetStartedSection />
  </div>
</template>

<script lang="ts" setup>
import MainSection from './components/main-section.vue';
import Separator from 'src/components/separator.vue';
import CollectionSection from './components/collection-section.vue';
import WhyChooseUsSection from './components/why-choose-us-section.vue';
import QuestionsSection from './components/questions-section.vue';
import GetStartedSection from './components/get-started-section.vue';
import { useMeta } from 'quasar';

const metaData = {
  // sets document title
  title: 'NFT Hub',

  // meta tags
  meta: {
    description: {
      name: 'description',
      content: 'High Quality NFT Collection',
    },
    keywords: {
      name: 'keywords',
      content: 'NFT, collection, token, Blockchain, NFT Hub',
    },
    equiv: {
      'http-equiv': 'Content-Type',
      content: 'text/html; charset=UTF-8',
    },
    ogTitle: {
      property: 'og:title',
      template(ogTitle: string) {
        return `${ogTitle} - NFT Hub`;
      },
    },
  },

  // CSS tags
  link: {
    material: {
      rel: 'stylesheet',
      href: 'https://fonts.googleapis.com/icon?family=Material+Icons',
    },
  },

  // <noscript> tags
  noscript: {
    default: 'This is content for browsers with no JS (or disabled JS)',
  },
};

useMeta(metaData);
</script>

<style lang="scss" scoped></style>
