<template>
  <span class="gradient-text">
    <slot />
  </span>
</template>

<script lang="ts" setup></script>

<style lang="scss" scoped>
.gradient-text {
  background: linear-gradient(10deg, #2600fc, #ff00ea);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
</style>
