<template>
  <q-btn
    no-caps
    rounded
    style="
      background: linear-gradient(10deg, #2600fc, #ff00ea);
      height: 66px;
      width: fit-content;
    "
    size="lg"
  >
    <div>
      {{ label }}

      <q-icon name="call_made" />
    </div>
  </q-btn>
</template>

<script lang="ts" setup>
defineProps<{
  label: string;
}>();
</script>

<style lang="scss" scoped></style>
