<template>
  <div
    class="flex justify-center"
    style="margin-top: 100px; margin-bottom: 100px"
  >
    <img :src="require('assets/images/divider.svg')" />
  </div>
</template>

<script lang="ts" setup></script>

<style lang="scss" scoped></style>
