<template>
  <div class="fade" ref="cardsContainer">
    <div class="text-h2 text-weight-bold text-center fade-left" ref="titleRef">
      Nfthub's <GradientText>collection</GradientText>
    </div>

    <q-carousel
      v-model="slide"
      transition-prev="slide-left"
      transition-next="slide-right"
      swipeable
      animated
      control-color="white"
      navigation
      padding
      arrows
      height="fit-content"
      autoplay
      class="q-mt-xl"
    >
      <q-carousel-slide
        v-for="slide in slides"
        :key="slide.id"
        :name="slide.id"
        class="column no-wrap flex-center"
      >
        <div class="flex q-gutter-sm justify-center">
          <div
            v-for="image in slide.images"
            :key="image.id"
            class="flex column items-center q-gutter-sm"
          >
            <img :src="image.path" style="border-radius: 16px; width: 200px" />
            <div class="text-weight-bold text-h6">{{ image.title }}</div>
            <div style="color: #b7b4bb">{{ image.subtitle }}</div>
          </div>
        </div>
      </q-carousel-slide>
    </q-carousel>

    <div class="flex justify-center q-mt-xl">
      <GradientBtn label="View collection" />
    </div>
  </div>
</template>

<script lang="ts" setup>
import GradientText from 'src/components/gradient-text.vue';
import GradientBtn from 'src/components/gradient-btn.vue';
import { ref } from 'vue';
import { useAnimation } from 'src/utils/useAnimation';

const slide = ref(1);

const cardsContainer = ref(null);
const titleRef = ref(null);
useAnimation(cardsContainer);
useAnimation(titleRef);

const slides = [
  {
    id: 1,
    images: [
      {
        id: 1,
        path: require('assets/images/art-01.png'),
        title: '#Metaverse',
        subtitle: 'By TheSalvare',
      },
      {
        id: 2,
        path: require('assets/images/art-02.png'),
        title: '#Polly Doll',
        subtitle: 'By TheNative',
      },
      {
        id: 3,
        path: require('assets/images/art-03.png'),
        title: '#Alec Art',
        subtitle: 'By GeorgZvic',
      },
      {
        id: 4,
        path: require('assets/images/art-04.png'),
        title: '#Toxic Poeth',
        subtitle: 'By YazoiLup',
      },
    ],
  },
  {
    id: 2,
    images: [
      {
        id: 1,
        path: require('assets/images/art-01.png'),
        title: '#Metaverse',
        subtitle: 'By TheSalvare',
      },
      {
        id: 2,
        path: require('assets/images/art-02.png'),
        title: '#Polly Doll',
        subtitle: 'By TheNative',
      },
      {
        id: 3,
        path: require('assets/images/art-03.png'),
        title: '#Alec Art',
        subtitle: 'By GeorgZvic',
      },
      {
        id: 4,
        path: require('assets/images/art-04.png'),
        title: '#Toxic Poeth',
        subtitle: 'By YazoiLup',
      },
    ],
  },
];
</script>

<style lang="scss" scoped></style>
