<template>
  <div>
    <img :src="img" class="full-width absolute" style="left: 0px" />
    <h1 class="text-weight-bold q-mb-none text-center scale" ref="title1Ref">
      Let's start
    </h1>
    <h1 class="text-weight-bold q-mt-none text-center scale" ref="title2Ref">
      <GradientText> minting </GradientText>
    </h1>
    <div class="text-h4 text-center" style="color: #b7b4bb">
      Invest and manage all your NFTs at one place.
    </div>
    <div class="flex justify-center q-mt-xl">
      <GradientBtn label="Get started" />
    </div>
  </div>
</template>

<script lang="ts" setup>
import GradientText from 'src/components/gradient-text.vue';
import GradientBtn from 'src/components/gradient-btn.vue';

import { useAnimation } from 'src/utils/useAnimation';
import { ref } from 'vue';
const title1Ref = ref(null);
const title2Ref = ref(null);
useAnimation(title1Ref);
useAnimation(title2Ref);

const img = require('assets/images/get-started.png');
</script>

<style lang="scss" scoped></style>
