<template>
  <div style="margin-top: 15vh" class="fade">
    <div class="flex justify-between">
      <div class="flex justify-center column q-gutter-y-lg section-column">
        <h2 class="text-weight-bold q-mb-none" style="max-width: 430px">
          High Quality NFT Collection
        </h2>
        <div style="color: #b7b4bb; max-width: 300px">
          A 890 piece custom Nerko's collection is joining the NFT space on
          Opensea.
        </div>
        <GradientBtn label="View in OPENSEA" />
        <div class="flex q-gutter-x-md items-center">
          <div
            class="flex q-my-md"
            style="width: 120px; height: 55px; position: relative"
          >
            <img
              class="rounded-borders absolute"
              :src="require('assets/images/avatar-3.png')"
              style="left: 0px"
            />
            <img
              class="rounded-borders absolute"
              :src="require('assets/images/avatar-2.png')"
              style="left: 30px"
            />
            <img
              class="rounded-borders absolute"
              :src="require('assets/images/avatar-1.png')"
              style="left: 60px"
            />
          </div>
          <div class="flex column">
            <div class="text-weight-bold text-h4">47k+</div>
            <div style="color: #b7b4bb">Community members</div>
          </div>
        </div>
      </div>
      <div class="section-column flex justify-center">
        <img
          :src="require('assets/images/main-section-polygons.svg')"
          class="img-section"
        />
      </div>
    </div>

    <div class="flex justify-center flex-wrap q-gutter-xl q-mt-xl">
      <img :src="require('assets/images/wallet-01.svg')" />
      <img :src="require('assets/images/wallet-02.svg')" />
      <img :src="require('assets/images/wallet-03.svg')" />
      <img :src="require('assets/images/wallet-04.svg')" />
      <img :src="require('assets/images/wallet-05.svg')" />
    </div>
  </div>
</template>

<script lang="ts" setup>
import GradientBtn from 'src/components/gradient-btn.vue';
</script>

<style lang="scss" scoped>
.section-column {
  width: 100%;
}

.img-section {
  display: none;
}

@media (min-width: 700px) {
  .section-column {
    width: 40%;
  }
  .img-section {
    width: 300px;
    display: block;
  }
}

@media (min-width: 1430px) {
  .section-column {
    width: 40%;
  }
  .img-section {
    width: 450px;
    display: block;
  }
}
</style>
