<template>
  <div>
    <div class="text-h2 text-weight-bold text-center fade-left" ref="titleRef">
      Your questions,
      <div>
        <GradientText> answered! </GradientText>
      </div>
    </div>

    <div
      class="card q-mx-auto q-mt-xl overflow-hidden q-pa-lg question-card fade"
      ref="container"
    >
      <q-expansion-item
        v-for="question in questions"
        :key="question.id"
        expand-separator
        :label="question.question"
        group="questions"
      >
        <div
          style="color: #b7b4bb"
          class="q-px-md q-py-sm"
          v-text="question.answer"
        ></div>
      </q-expansion-item>
    </div>
  </div>
</template>

<script lang="ts" setup>
import GradientText from 'src/components/gradient-text.vue';
import { useAnimation } from 'src/utils/useAnimation';
import { ref } from 'vue';
const titleRef = ref(null);
const container = ref(null);
useAnimation(titleRef);
useAnimation(container);

const questions = [
  {
    id: 1,
    question: "What is Nfthub's NFT Collection?",
    answer:
      'Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.\n \n Voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.',
  },
  {
    id: 2,
    question: 'How we can buy and invest NFT?',
    answer:
      'Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
  },
  {
    id: 3,
    question: "Why we should choose Nerko's NFT?",
    answer:
      'Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
  },
  {
    id: 4,
    question: 'Where we can buy and sell NFts?',
    answer:
      'Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
  },
  {
    id: 5,
    question: 'How secure is this token?',
    answer:
      'Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
  },
  {
    id: 6,
    question: 'What is your contract address?',
    answer:
      'Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
  },
];
</script>

<style lang="scss" scoped>
.question-card {
  width: 100%;
}

@media (min-width: 700px) {
  .question-card {
    width: 75%;
  }
}

@media (min-width: 1430px) {
  .question-card {
    width: 50%;
  }
}
</style>
