<template>
  <div>
    <div class="text-h2 text-weight-bold text-center fade-left" ref="title">
      Why <GradientText> choose us?</GradientText>
    </div>

    <div
      class="flex q-gutter-md justify-center q-mt-xl fade"
      ref="cardsContainer"
    >
      <div
        v-for="(card, i) in cards"
        :key="card.title"
        class="q-py-xl q-px-lg card"
        :class="i % 2 !== 0 ? 'q-mt-xl' : ''"
      >
        <div class="flex column q-gutter-y-lg">
          <img :src="card.icon" style="width: 50px; height: 50px" />
          <h4 class="text-weight-bold q-mb-none">{{ card.title }}</h4>
          <div style="color: #b7b4bb">{{ card.description }}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import GradientText from 'src/components/gradient-text.vue';
import { useAnimation } from 'src/utils/useAnimation';
import { ref } from 'vue';

const cards = [
  {
    title: 'Huge collection',
    icon: require('assets/icons/collection.svg'),
    description:
      'A collection of 890 unique Nerkos built to go beyond the digital space.',
  },
  {
    title: 'High quality',
    icon: require('assets/icons/quality.svg'),
    description:
      "The nerko’s collection includes dozens of rare costumes ands colorways of artist's.",
  },
  {
    title: 'Top resource',
    icon: require('assets/icons/top.svg'),
    description:
      'Tasty design resources made with care for each pixel. NFTs and game resources.',
  },
  {
    title: 'Big community',
    icon: require('assets/icons/community.svg'),
    description:
      'Be part of a community of nerko owners and create user generated items.',
  },
];

const cardsContainer = ref(null);
const title = ref(null);
useAnimation(cardsContainer);
useAnimation(title);
</script>

<style lang="scss" scoped></style>
