// app global css in SCSS form

@font-face {
  font-family: 'orbitron';
  src: url('../assets/fonts/orbitron.ttf');
}

@font-face {
  font-family: 'inter';
  src: url('../assets/fonts/inter.ttf');
}

.orbitron-font {
  font-family: 'orbitron';
}

* {
  font-family: 'inter';
  scroll-behavior: smooth;
}

.card {
  width: 250px;
  border: solid 1px #e8e8e840;
  border-radius: 24px;
  height: fit-content;
}

.active.fade {
  animation: fade 1s ease-in;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.active.fade-left {
  animation: fade-left 1s ease-in;
}
@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.active.scale {
  animation: scale 1s ease-in;
}
@keyframes scale {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
