<template>
  <footer style="border-top: solid 1px #b7b4bb" class="q-py-xl q-mt-xl">
    <div class="layout-padding">
      <div class="flex justify-between">
        <div class="flex flex-wrap column q-gutter-lg">
          <GradientText class="orbitron-font text-weight-bold text-h4">
            NFTHub
          </GradientText>
          <div style="color: #b7b4bb; max-width: 300px">
            Join our Discord channel or follow us on Twitter to keep up to date
            with our latest work and announcements.
          </div>
          <div class="flex q-gutter-x-lg q-ml-none">
            <a
              v-for="icon in footerIcons"
              :key="icon.path"
              href="#"
              :title="icon.alt"
              target="_blank"
            >
              <img :src="icon.path" :alt="icon.alt" />
            </a>
          </div>
        </div>
        <div class="flex flex-wrap q-gutter-xl">
          <div class="flex column q-gutter-y-sm">
            <div class="text-weight-bold text-h6">Quick Link</div>
            <a
              href="#"
              style="color: #b7b4bb; text-decoration: none"
              class="text-subtitle2"
              >About</a
            >
            <a
              href="#"
              style="color: #b7b4bb; text-decoration: none"
              class="text-subtitle2"
            >
              Collection
            </a>
            <a
              href="#"
              style="color: #b7b4bb; text-decoration: none"
              class="text-subtitle2"
              >Roadmap</a
            >
            <a
              href="#"
              style="color: #b7b4bb; text-decoration: none"
              class="text-subtitle2"
              >FAQs</a
            >
          </div>
          <div class="flex column q-gutter-y-sm">
            <div class="text-weight-bold text-h6">Community</div>
            <a
              style="color: #b7b4bb; text-decoration: none"
              class="text-subtitle2 text-weight-medium"
              href="#"
            >
              How it works!
            </a>
            <a
              href="#"
              style="color: #b7b4bb; text-decoration: none"
              class="text-subtitle2 text-weight-medium"
            >
              Blockchain
            </a>
            <a
              href="#"
              style="color: #b7b4bb; text-decoration: none"
              class="text-subtitle2 text-weight-medium"
            >
              Get in touch
            </a>
          </div>
        </div>
      </div>
      <div class="flex flex-wrap justify-between q-mt-xl">
        <div style="color: #b7b4bb">
          Copyright © 2023 Nfthub All Rights Reserved.
        </div>
        <div style="color: #b7b4bb" class="flex items-center q-gutter-md">
          <a style="color: #b7b4bb; text-decoration: none" href="#"
            >Privacy policy
          </a>
          <a style="color: #b7b4bb; text-decoration: none" href="#"
            >Terms of Use
          </a>
          <q-icon name="expand_less" color="#b7b4bb" size="md" />
        </div>
      </div>
    </div>
  </footer>
</template>

<script lang="ts" setup>
import GradientText from 'src/components/gradient-text.vue';

const footerIcons = [
  { path: require('src/assets/icons/twitter.svg'), alt: 'twitter link' },
  { path: require('src/assets/icons/instagram.svg'), alt: 'instagram link' },
  { path: require('src/assets/icons/wallet.svg'), alt: 'wallet link' },
];
</script>

<style lang="scss" scoped></style>
