<template>
  <q-layout view="lHh Lpr lFf">
    <q-header style="background-color: #0f051d; padding-inline: 12%">
      <div class="flex justify-between items-center">
        <div class="flex items-center q-gutter-x-md">
          <q-btn
            class="drawer-btn"
            flat
            dense
            round
            icon="menu"
            aria-label="Menu"
            @click="toggleLeftDrawer"
          />
          <h1 class="orbitron-font text-h4 text-weight-bold">NFTHub</h1>
        </div>
        <div class="flex pages-links">
          <RouterLink
            to="#"
            v-for="item in essentialLinks"
            :key="item.title"
            class="q-py-lg q-px-md text-weight-bold text-white"
            style="text-decoration: none"
          >
            {{ item.title }}
          </RouterLink>
        </div>
        <div class="flex">
          <a
            v-for="icon in socialIcons"
            :key="icon.path"
            href="#"
            :title="icon.alt"
            target="_blank"
          >
            <img :src="icon.path" :alt="icon.alt" class="q-py-lg q-px-md" />
          </a>
        </div>
      </div>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" bordered>
      <q-list>
        <q-item-label header> Essential Links </q-item-label>

        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view class="layout-padding" />
    </q-page-container>

    <Footer />
  </q-layout>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import EssentialLink from 'components/essential-link.vue';
import Footer from './footer.vue';

const essentialLinks = [
  {
    title: 'Home',
    link: '/',
  },
  {
    title: 'Collection',
    link: '#',
  },
  {
    title: 'Choose',
    link: '#',
  },
  {
    title: 'About',
    link: '#',
  },
  {
    title: 'Roadmap',
    link: '#',
  },
  {
    title: 'Blog',
    link: '#',
  },
];

const socialIcons = [
  { path: require('src/assets/icons/twitter.svg'), alt: 'twitter link' },
  { path: require('src/assets/icons/discord.svg'), alt: 'discord link' },
  { path: require('src/assets/icons/instagram.svg'), alt: 'instagram link' },
  { path: require('src/assets/icons/wallet.svg'), alt: 'wallet link' },
];

const leftDrawerOpen = ref(false);

function toggleLeftDrawer() {
  leftDrawerOpen.value = !leftDrawerOpen.value;
}
</script>

<style lang="scss">
.layout-padding {
  padding-inline: 50px;
}
.drawer-btn {
  display: initial;
}
.pages-links {
  display: none;
}

@media (min-width: 700px) {
  .layout-padding {
    padding-inline: 6%;
  }
  .drawer-btn {
    display: initial;
  }
  .pages-links {
    display: none;
  }
}

@media (min-width: 1430px) {
  .layout-padding {
    padding-inline: 12%;
  }
  .drawer-btn {
    display: none;
  }
  .pages-links {
    display: block;
  }
}
</style>
